html,
body,
#root,
.App {
    height: 100vh;
}

.container {
    height: 100%;
    overflow: overlay;
}

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("./assets/background-icon.svg") no-repeat hsla(221, 39%, 11%, 1);
    color: #fff;
    background-position: bottom left;
}